<h2><%= title %></h2>
<ul>
  <li>ID: <%= user.id %></li>
  <li>Имя: <%= user.name %></li>
  <li>Возраст: <%= user.age %></li>
  <li>События: <%= user.events.length %></li>
</ul>
<a href="/users">← Назад</a>
